*{
    font-family: Roboto;
}
body{
    margin: 0;
}
header{
    background-color: #1F2937;
    display: flex;
    margin: 0 0 300px 0;
    padding-top: 10px;
    padding: 10px 30px 600px 30px;
    row-gap: 30px;
    flex-direction: column;
}

.navbar{
    width:100%;
    margin:0;
}
.nav-links{
    margin-right: 10%;
    margin-left:70%;
    margin-top:0;
    padding:10px;
}
.nav-links li{
    display: inline;
    margin-right: 20px;
}
li a{
    text-decoration: none;
    color: 18px #E5E7EB;
}
text-image{
    width:30%;
    margin: auto;
}
.text-image section{
    
}
.text-image img{
    width: 50%;
    height: 100%;
}

#main-text{
    size:48px;
    color: #F9FAF8;
    font-weight: 900;

}

#second-text{
    size:18px;
    color: #E5E7EB;
}

button{
    background-color: #3882f6;
}

#img{
    
}




#info {
    display: flex;
    margin: 300px 0;
    gap:2rem;
    justify-content: center;
}
figure{
    flex:1;
}
figure img{
    border: #3882f6 2px;
    border-radius: 12px;
    
}




.quote-section{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    margin: 300px 0;
    justify-content: center;
    align-items: center;
    padding: 100px 300px;
}
.quote{
    font-style: 36px light italic #1F2937;
    text-align: center;
}
.quote span{
    text-align: right;
    
}



#sign-up{
    display: flex;
}

#sign-up section{
    margin: auto;
    background-color: #3882f6;
    width: 40%;
    padding: 25px 50px;
}

footer{
    margin: 300px 0 0 0;
    text-align: center;
    background-color: #1F2937;
}