*{
    font-family: Roboto;
}
body{
    margin: 0;
}
header{
    background-color: #1F2937;
    display: flex;
    margin: 0 0 300px 0;
    padding-top: 10px;
    padding: 10px 30px 600px 30px;
    row-gap: 30px;
    flex-direction: column;
}

.navbar{
    width:100%;
    margin:0;
}
.nav-links{
    margin-right: 10%;
    margin-left:70%;
    margin-top:0;
    padding:10px;
    display: inline;
}
.nav-links ul li{
    display: inline;
    margin-right: 20px;
}

.header-link{
    text-decoration: none;
    color: 18px #E5E7EB;
}

.text-image{
    display: flex;
    justify-content: space-evenly;
}
#image{
    width:25%;
    height: 50%;
}

#main-text{
    size:48px;
    color: #F9FAF8;
    font-weight: 900;

}

#second-text{
    size:18px;
    color: #E5E7EB;
}

.button{
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    padding: 6px 30px;
    color: #E5E7EB;
    font-size: 14px;
}

#info {
    display: flex;
    margin: 300px 0;
    gap:2rem;
    justify-content: center;
}
figure{
    flex:1;
}
figure img{
    border: #3882f6 2px;
    border-radius: 12px;
    
}




.quote-section{
    background-color: #E5E7EB;
    display: block;
    flex-direction: column;
    margin: 300px 0;
    justify-content: center;
    align-items: center;
    padding: 100px 300px;
}
.quote-container{
    padding:200px;
}
.quote{
    font-style: 36px light italic #1F2937;
    text-align: center;
}
.quote span{
    text-align: right;
    
}



#sign-up{
    display: flex;
}

#sign-up section{
    margin: auto;
    background-color: #3882f6;
    width: 40%;
    padding: 25px 100px;
    border-radius: 25px;
}
.sign-up-text{
    margin-right: 3px;
}
.button-border{
    background-color: #3882f6;
    border: solid 2px #E5E7EB;
    padding: 6px 30px;
    border-radius: 8px;
    color: #E5E7EB;
    font-size: 14px;
    margin-right: 440px;
    margin-bottom: 40px;
}
footer{
    margin: 300px 0 0 0;
    text-align: center;
    background-color: #1F2937;
    padding: 200px;
}